@use 'base/variables' as v; 

//Anidacion de selectores
.header{
background-color: v.$verde;
    h1{
        color: v.$blanco;
    }
}
.navegacion-principal{
    a{
        color:v.$blanco;
        font-size:2.4rem;
        //& es necesario para evitar el espacio y funcione el hover
        &:hover{
            color: v.$amarillo;
        }
    }
}